/*
// Layout
// --------------------------------------------------

// Properties needed for sticky footer solution
*/
html,
body {
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* For cross-browser sticky footer support */
.layout {
    flex: 1 0 auto;
    /* Set flex-shrink to 0 to prevent some browsers from letting these items shrink to smaller than their content\'s default minimum size. */
}

.layout-page-content > .container,
.layout-page-content > .container-visitor
{
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 991px) {
    .nav-is-open .layout-page-content {
        display: none;
    }
}
